/*======================================================================body===================================================================*/
*{
    margin: 0%;
    padding: 0%;
}
/*===================================================================NAV BAR=================================================================*/
.container {
    display: grid;
    grid-template-rows:repeat(7, 136.7px);
    grid-template-columns:repeat(auto-fit, minmax(200px ,1fr));
    grid-auto-flow: column;
    z-index: -3;
}
/*===============================================================Nav========================================================================*/
.main-nav{
    grid-area:1/1/1/8;
    text-decoration: none;
    list-style: none;
    color: white;
    font-weight:bolder;
    font-family:"Montserrat", Sans-serif;
    background-color: #1d0c3800;
    padding-top: 41px;
    width: 100%;
    height: 50px;
    z-index: 1;
}
.main-logo{
    margin-left: 50px;
}



a:hover{
    color: rgb(173, 80, 25);

}


ul {
    list-style-type: none;
    margin-right:7%;
    float: right;
    
}
.button {
    background-color: #00000000;
    border: none;
    color: rgb(255, 255, 255);
    padding: 5px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 17px;
    margin-right: 20px;
}
.button1 {
    background-color: #d1895f;
    border: none;
    color: white;
    padding: 5px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 17px;
    margin-right: 2px;
    margin-left: 40px;

    
}


/*=============================================================BackGround=================================================================*/

.sticky-background {
    position: fixed;
    top: 0px;
    left:0px;
    width: 100%;
    height:100%;
    background-image: url(https://img.freepik.com/premium-photo/colorful-vertical-light-streaks-abstract-background_926271-9902.jpg);
    z-index:-5;
    background-position: center;
    background-size: cover;

}
.background{
    grid-area:1/1/7/8;
    background-color: #1d0c38dc;
    z-index:-3;

}

.table-image{
    position: relative;
    grid-area: 2/4;
    z-index: 3;
    align-self: center;
    justify-self: center;
    width: 120px;
}
.content-background{
    grid-area: 2/1/6/8;
    background-color: #1d0c38b6;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: -100px;   
    z-index:1; 
    border: 2px solid;
    border-color: orange;


    



}
.content{
    grid-area: 4/1/3/8;
    z-index:1
    
    

}

/*=========================================================Content======================================================================*/

table{
    
    text-align: center;
    border: 2px solid;
    border-color: orange;
    justify-self: center;
    color: white;
    border-collapse: collapse;

    caption{
        font-size:30px;
        font-weight: bold;
        border:2px solid;
        border-color: orange;
    }

    th,td{
        border:2px solid;
        border-color: orange;
        padding-top: 10px;
        padding-bottom: 10px;
        border-collapse: collapse;
    }

    th{
        padding-top: 20px;
        padding-bottom: 20px;
        padding-right: 100px;
        padding-left: 100px;
        text-align: center;
    }

    .button-tickets{
        color: white;
        background-color: #d1895f;
        text-decoration: none;
        padding: 5px;
        font-size: bold;
        font-weight: bold;
        text-align: center;
    }

}




/*========================================================Footer=========================================================================*/

.footer-nav{
    grid-area: 7/1/8/8;
    background-color: black;
    text-align: center;
    color: white;
    bottom: 0;
    padding-top: 100.1px;
    padding-bottom:36px ;
    position: relative;
    text-decoration: none;

    .nav{
        padding-bottom: 10px;
    }
}

/*=======================Responsive===================================*/
@media screen and (max-width: 806px){


    .button{
        font-size: 12px;
        margin-right: 10px;
        padding:10px;

    }
    .button1{
        font-size:15px;
        margin-left: 20px;
        margin-right: 4px;
        padding: 2px 10px;
    }

    .main-logo{
        width: 70px;
        height: 50px;
        margin-left: 0;
    }


    }

@media screen and (max-width:446px) {

    .button, .button1{
        display: none;
        display: inactive;
        
    }
    
}